<form>
  <mat-dialog-content>
    <div class="inf_block">
      <h5 class="text-center">Комната отдыха</h5>
    </div>
    <hr>
    <mat-form-field>
      <mat-label>Название</mat-label>
      <input matInput required [(ngModel)]="restroom.name" name="name">
      <mat-icon matSuffix>comment</mat-icon>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button cdkFocusInitial mat-button class="button-bron" (click)="onBronClick()">
      Сохранить
    </button>
    <button mat-button (click)="onNoClick()">
      Отменить
    </button>
  </mat-dialog-actions>
</form>