/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
html, body { min-height: 100%; }
body {
    margin: 0; 
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity)); }

.fullscreen-dialog {
    max-width: 100% !important;
    position: relative;
}
app-root {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    padding-left: 0;
    padding-right: 0;
}
.inf_block {
    @apply block p-2 sm:p-4 bg-gradient-to-bl from-gray-200 to-white border border-gray-200 rounded-lg shadow-md text-justify
}
.inf_block h5 {
    @apply text-lg sm:text-2xl font-bold tracking-tight text-black
}
.inf_block h1 {
    @apply text-xs sm:text-base
}
.inf_block h4 {
    @apply text-lg font-bold tracking-tight text-zinc-700
}
main {
    @apply py-6 px-2 sm:px-5 max-w-[1280px] mx-auto text-center
}
hr {
    @apply w-full h-px mx-auto my-2 bg-gray-300 border-0 rounded
}
h1 {
    @apply font-normal text-gray-500
}
h5 {
    @apply text-2xl text-white
}
h4 {
    @apply text-xl text-white
}
.button-bron {
    @apply bg-green-400 hover:bg-green-300 text-white font-bold py-2 px-4 rounded
}
mat-form-field {
    @apply w-full
}
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}