<mat-dialog-content>
    <div class="inf_block"><h5 class="text-center">Правила посещения клуба</h5></div>
    <div class="mt-2">
        <h1>1. Запрещено находиться в клубе в состоянии алкогольного опьянения, а также приносить с собой какие-либо алкогольные напитки!</h1>
        <hr>
        <h1>2. Рекомендуемый возраст для посещения с 8 лет. Дети до 14 лет обязательно в сопровождении взрослых.</h1>
        <hr>
        <h1>3. Форма одежды:
            <ul>
                <li>
                    - закрытая удобная обувь (желательно кроссовки);
                </li>
                <li>
                    - удобная, не сковывающая движения одежда;
                </li>
                <li>
                    - девушкам желательно забирать волосы.
                </li>
            </ul>
        </h1>
        <hr>
        <h1>4. Запрещено бегать в тренировочном зале, а так же находиться в зоне метания/стрельбы без разрешения тренера.</h1>
        <hr>
        <h1>5. Запрещено брать и использовать метательные снаряды без разрешения тренера.</h1>
        <hr>
        <h1>6. На самостоятельных тренировках также необходимо соблюдать технику безопасности и оставлять после себя зал в чистоте.</h1>
        <hr>
        <h1>7. Тренировки обязательно по предварительной записи.</h1>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button cdkFocusInitial class="button_cancel" (click)="onNoClick()">Закрыть</button>
</mat-dialog-actions>
